body {
    background-color: #F0F3F5;
    color: #505254;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 120px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 48px;
}

h2 {
    text-align: center;
}

button {
    display: block;
    margin: auto;
    padding: 20px 40px;
    background: #F0F3F5;
    border: 4px solid #67A2D5;
    box-sizing: border-box;
    box-shadow: 4px 4px 100px #ECF0F3;
    border-radius: 50px;    
    font-size: 24px;
    color: #67A2D5;
    cursor: pointer;
}

.call {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #67A2D5;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 26px;
    padding: 5px 5px;
    background: #F0F3F5;
    border: 4px solid #67A2D5;
    box-sizing: border-box;
    box-shadow: 4px 4px 100px #ECF0F3;
    border-radius: 50px;
    font-size: 24px;
    color: #505254;
    text-align: center;
}